:host {
  display: block;
  height: 92vh;
  width: 100%;
}

.chart-container {
  height: 100%;
  display: flex;
}

.chart-wrapper {
  position: relative;
  height: 92vh !important;
  width: 86vw !important;
  padding-left: 2rem;
}

.chart-container-options {
  flex: 1 1 auto;
  padding-right: 2rem;
}

.chart-options__layout {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  justify-content: flex-start;

  & > section {
    align-self: flex-start;
    padding-top: 1rem;
  }
}
