<div class="chart-container">
  <apx-chart
    #chart
    *ngIf="chartOptions"
    [series]="chartOptions.series"
    [xaxis]="chartOptions.xaxis"
    [chart]="chartOptions.chart"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
  ></apx-chart>
  <aside class="chart-options">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Days ago</mat-label>
        <input type="number" matInput placeholder="30" min="1" [ngModel]="daysAgo | async" (ngModelChange)="daysAgo.next($event)">
        <mat-icon [ngStyle]="{cursor: 'pointer'}" matPrefix matTooltip="How may days ago to fetch the data. Minimum 1, default 30."
                  matTooltipPosition="before">info
        </mat-icon>
        <mat-hint>{{formatDaysAgoDistance}}</mat-hint>
      </mat-form-field>
    </div>
  </aside>
</div>
