<div
  *ngIf="countryInfo"
  class="content width-100"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="listFilter" type="text" id="filterInput" />
  </mat-form-field>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="2vh">
    <ng-container *ngFor="let country of filteredCountries | async">
      <app-country-card [country]="country" (countrySelected)="router.navigate(['countries', $event])"></app-country-card>
    </ng-container>
  </div>
</div>
