mat-sidenav-container {
  max-height: 95%;
}

.mat-drawer-push {
  background-color: whitesmoke;
}

@mixin overlay_bottom_element_positions {
  position: absolute;
  bottom: 15%;
}

app-layer-controller {
  @include overlay_bottom_element_positions;
  left: 1%;
}
app-map-legend {
  @include overlay_bottom_element_positions;
  right: 1%;
}

:host {
  height: 100%;
}
