.general-card{
    width: 25%;
    min-width: 275px;
    min-height: 346px;
    margin: 10px;
    flex-direction: column;
    display: flex;
    place-content: stretch center;
    align-items: stretch;
    height: fit-content;
}

.text-black{
    color: black;
}

.text-orange{
    color: orangered;
}

.text-red{
    color: red;
}

.text-green{
    color: green;
}

table {
    font-size: 20px;
    letter-spacing: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: right;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2}

.title{ letter-spacing: 2px !important; font-size: 18px !important; font-weight: 100 !important; }

.card-title{ letter-spacing: 3px !important; font-size: 20px !important; font-weight: 200 !important; }

.map {width: 150px;height: 150px; }