<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    [opened]="infoDrawer.toggled$ | async"
    mode="push"
    position="end"
  >
    <app-general-info
      *ngIf="generalInfo$"
      fxFlexOrder="1"
      [currentCountry]="currentCountry$ | async"
      [generalInfo]="generalInfo$ | async"
      [summary]="homeSummary$ | async"
    >
    </app-general-info>
  </mat-sidenav>
  <app-map [activeLayer]="currentLayer$ | async"></app-map>
  <app-layer-controller
    [names]="layerNames"
    [disabled]="!(enableSelection$ | async)"
    (layerSelected)="onLayerSelected($event)"
  ></app-layer-controller>
  <app-map-legend
    *ngIf="currentLayer$ | async"
    [layerColor]="activeLayerName$ | async"
    [thresholds]="legendTreshold"
  ></app-map-legend>
</mat-sidenav-container>
