<mat-card
  class="general-card text-right"
  [ngStyle]="{ 'box-shadow': noBoxShadow ? 'none' : '' }"
>
  <h2
    class="card-title text-black text-center"
    fxLayout
    fxLayoutAlign="space-evenly center"
    (click)="countrySelected.emit(country.countryInfo.iso3)"
  >
    <img [src]="country.countryInfo.flag" />

    <strong>{{ country.country }}</strong>
  </h2>
  <table>
    <tr>
      <td>
        <strong>{{ country.cases }}</strong>
      </td>
      <td>Total Cases</td>
    </tr>
    <tr>
      <td>
        <strong>{{ country.todayCases }}</strong>
      </td>
      <td>Today Cases</td>
    </tr>
    <tr>
      <td class="text-orange">
        <strong>{{ country.critical }}</strong>
      </td>
      <td>Critical Cases</td>
    </tr>
    <tr>
      <td class="text-red">
        <strong>{{ country.deaths }}</strong>
      </td>
      <td>Total Deaths</td>
    </tr>
    <tr>
      <td class="text-red">
        <strong>{{ country.todayDeaths }}</strong>
      </td>
      <td>Today Deaths</td>
    </tr>
    <tr>
      <td class="text-green">
        <strong>{{ country.recovered }}</strong>
      </td>
      <td>Total Recovered</td>
    </tr>
  </table>
</mat-card>
